{% extends 'qa/base.html' %}

{% block body_content %}
    <div class="root">
        
        {% block content %}
        {% endblock %}

        <aside>
            <section id="popular_tags">
                <h3>Популярные теги</h3>
                <div class="popular-tags__links">
                    {% for tag in popular_tags %}
                        <a href="{% url 'qa:questions_by_tag' tag_name=tag.name %}" {% if forloop.counter <= 2 %}style="color: red;"{% endif %}>{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </section>
 
            <section id="best_members">
                <h3>Лучшие участники</h3>
                <ul class="best-members__links">
                    {% for member in best_members %}
                        <li><a href="#">{{ member.username }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% block extra_js %}{% endblock %}
{% endblock %}