{% extends 'qa/main_layout.html' %}

{% block content %}
<main class="root__main">
    <h1>Удаление вопроса</h1>
    <p>Вы уверены, что хотите удалить вопрос: <strong>"{{ object.title }}"</strong>?</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="button-wrapper">
            <button type="submit" style="background-color: red; color: white;">Да, удалить</button>
            <a href="{% url 'qa:question_detail' question_id=object.id %}" style="margin-left: 20px;">Отмена</a>
        </div>
    </form>
</main>
{% endblock %}
