{% extends 'qa/main_layout.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/Profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
{% endblock %}

{% block content %}
<main class="root__main">
    <h1>Вход в аккаунт</h1>
    <form>
        <label class="form-label">
            Войти
            <input type="text" name="login" placeholder="Введите ваш логин">
        </label>
        <label class="form-label">
            Пароль
            <input type="password" name="password" placeholder="Введите ваш пароль">
        </label>
        <div class="button-wrapper"><button type="submit">Войти</button></div>
    </form>
    
    <a href="{% url 'users:register' %}" class="new-user">Создать новый аккаунт</a>
</main>
{% endblock %}