{% extends 'qa/main_layout.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/Profile.css' %}">
{% endblock %}

{% block content %}
<main class="root__main">
    <h1>Пользователь: {{ user.username }}</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {# Выводим поля формы редактирования #}
        {% for field in form %}
            <label class="form-label">
                {{ field.label }}
                {{ field }}
                {% if field.errors %}
                    <div style="color: red; font-size: 0.8em;">{{ field.errors }}</div>
                {% endif %}
            </label>
        {% endfor %}

        <div class="button-wrapper"><button type="submit">Сохранить!</button></div>
    </form>
</main>
{% endblock %}