{% extends 'qa/main_layout.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/Profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
{% endblock %}

{% block content %}
<main class="root__main">
    <h1>Зарегистрироваться</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label class="form-label">
                {{ field.label }}
                {{ field }}
                {% if field.errors %}
                    <div style="color: red; font-size: 0.8em;">{{ field.errors }}</div>
                {% endif %}
            </label>
        {% endfor %}
        <div class="button-wrapper"><button type="submit">Зарегистрироваться</button></div>
    </form>
    
    <a href="{% url 'users:login' %}" class="new-user">Уже есть аккаунт? Войдите</a>
</main>
{% endblock %}